.about-slide {
  .slide-content {
    padding: 20px;
    padding-top: 100px;
    max-width: 800px;
    min-height: 80dvh;
    overflow: overlay;

    @include media_xxl {
      margin-bottom: 150px;
      height: auto;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
    justify-content: flex-start;
  }

  @include media_sm {
    .actions {
      gap: 16px;
    }
  }
  @include media_xl {
    font-size: 20px;
  }
}
