.about-slide {
  .slide-content {
    padding: 20px;
    padding-top: 100px;
    max-width: 800px;
    min-height: 80dvh;
    overflow: overlay;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      appearance: none;
      backdrop-filter: blur(20px);
      margin-top: 20px;
      border: 2px solid var(--app-text);
      background: transparent;
      padding: 8px 20px;
      width: fit-content;
      color: var(--app-text);
      font-weight: 700;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
    }

    @include media_xxl {
      margin-bottom: 150px;
      height: auto;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  @include media_sm {
    .actions {
      justify-content: center;
      gap: 20px;
    }
  }
  @include media_xl {
    font-size: 20px;
  }
}
