#root .slides .intro-slide {
  background: url('/bloom.png');
  background-position: top calc((var(--offset) / 4) * -1) right;
  background-repeat: no-repeat;
  min-height: 100dvh;
  text-align: center;

  h1 {
    margin-bottom: 0px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    width: fit-content;
    font-weight: 500;
    font-size: 44px;
    line-height: 44px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  p {
    margin: 0 auto;
    width: fit-content;
  }

  h2 {
    margin: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    width: fit-content;
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;

    @include media_sm {
      justify-content: center;
      gap: 20px;
    }
  }

  @include media_sm {
    h1 {
      font-size: 72px;
      line-height: 72px;
    }
  }
}
