.systems-bg-stack {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.systems-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  &--front {
    filter: blur(1px);
  }

  &--mid {
    filter: blur(2px);
  }

  &--back {
    filter: blur(4px);
  }
}
